canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

iframe {
  /* height: 40px;  */
  position: fixed;
  bottom: 5%;
  width: 80%;
  /* background-color: #393838;  */
  opacity: 0.6;
  margin: 0;
  padding: 0;
}


.icon1 {
  position: fixed;
  bottom: 15%;
  font-size: 3em;
  right: 5%;
  text-decoration: none;
}

.icon2 {
  position: fixed;
  bottom: 5%;
  font-size: 3em;
  right: 5%;
  text-decoration: none;
}